// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #f5f5f5 !default;
$header-bg-color: #212121 !default;
$header-bg-color-secondary: #212121 !default;

// Text
$section-headings-color: #f5f5f5 !default;
$body-text-color: #eee !default;
$body-link-color: inherit !default;
$blockquote-text-color: #eee !default;

// Code
$code-bg-color: #212121 !default;
$code-text-color: #eee !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #424242 !default;

$box-shadow-color: #121212 !default;
$background-color: #1b1b1b !default;