<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Lycheea!</title>
  <!-- <script src="./scripts/projects.js"></script> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">

  <link rel="icon" type="image/x-icon" href="assets/img/lychee-w-circle.png">
  <meta name="author" content="Minh Ton">
  <meta name="description" content="The first two Musketeers from CTQH">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <section class="section section-1">
    <div class="container noselect">
      <div class="container has-text-centered">
        <img class="avatar" src="assets/img/lychee-w-circle.png">
      </div>
      <p class="intro">
      <div align=center>
        <h1><span><span>Lycheea</span></span></h1>
      </div>
      <div align=center>
        <subtitle>The first two Musketeers from CTQH</subtitle>
      </div>
      <br><br>
      <div align=center>
        <a href="http://github.com/lycheea" class="button" target="_blank" rel="noreferrer">
          <svg width="24px" height="24px" viewBox="0 0 24 24" fill="white">
            <path
              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
          </svg>
          <button-text>&nbsp;&nbsp;GitHub</button-text>
        </a>
        <a href="mailto:startuplycheea@gmail.com" class="button" target="_blank" rel="noreferrer">
          <svg width="24px" height="24px" viewBox="0 0 24 24" fill="white">
            <path
              d="M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z" />
          </svg>
          <button-text>&nbsp;&nbsp;Email</button-text>
        </a>
        <a href="https://twitter.com/lycheeastartup" class="button" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
            <path
              d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
              style="fill:#FFFFFF;" />
          </svg>
          <button-text>&nbsp;&nbsp;Repo</button-text>
        </a>
      </div>
      </p>
    </div>
  </section>

  <section class="section section-2">
    <div class="has-text-centered noselect">
      <div class="container noselect">
        <div class="columns is-multiline is-desktop noselect" style="margin-bottom: 15px;">
          <div class="column noselect">
            <a href="/blogs" class="button-more noselect"
                style="font-size: 1.2em;">Blogs</a>
            <a href="/projects" class="button-more noselect"
                style="font-size: 1.2em;">Projects</a>
            <a href="/about" class="button-more noselect"
                style="font-size: 1.2em;">About</a>
          </div>
        </div>
      </div>
  </section>

  <section class="section section-3">
    <div class="has-text-centered noselect">
      <h3 class="title is-3">Team Members</h3>
    </div>

    <div class="container noselect"></br>
      <div class="columns is-multiline is-desktop noselect" style="margin-bottom: 15px;">
        <div class="column noselect">
          <div class="project-text noselect">
            <a href="https://github.com/LamTerQH" target="_blank" rel="noreferrer">
              <table>
                <tbody>
                  <td style="vertical-align:middle">
                    <div align="center">
                      <img src="./assets/img/lam_round.png" width=60%>
                    </div>
                  </td>
                  <td width=60% style="vertical-align:middle" class="center-mobile">
                    <div style="font-size: 1.5em; font-weight: bold;">
                      <p>LamTerQH</p>
                    </div>
                    <div style="margin-top: 5px;">
                      <span
                        style="background-color:rgba(7, 59, 79, 0.5);color:white;font-weight:bold;font-size:0.8em;border: 1px solid rgba(7, 59, 79, 0.5);border-radius: 5px;">&nbsp;Driven&nbsp;</span>
                      <span
                        style="background-color:rgba(7, 59, 79, 0.5);color:white;font-weight:bold;font-size:0.8em;border: 1px solid rgba(7, 59, 79, 0.5);border-radius: 5px;">&nbsp;Girl-lover&nbsp;</span>
                    </div>
                    <div style="margin-top: 5px;">
                      <p>The Perfect guy from Greek mythology.</p>
                    </div>
                  </td>
                </tbody>
              </table>
            </a>
          </div>
        </div>

        <div class="column noselect">
          <div class="project-text noselect">
            <a href="https://github.com/Minh-Ton" target="_blank" rel="noreferrer">
              <table>
                <tbody>
                  <td style="vertical-align:middle">
                    <div align="center">
                      <img src="./assets/img/minh-round.png" width=60%>
                    </div>
                  </td>
                  <td width=60% style="vertical-align:middle" class="center-mobile">
                    <div style="font-size: 1.5em; font-weight: bold;">
                      <p>Minh-Ton</p>
                    </div>
                    <div style="margin-top: 5px;">
                      <span
                        style="background-color:rgba(7, 59, 79, 0.5);color:white;font-weight:bold;font-size:0.8em;border: 1px solid rgba(7, 59, 79, 0.5);border-radius: 5px;">&nbsp;Not
                        too smart&nbsp;</span>
                      <span
                        style="background-color:rgba(7, 59, 79, 0.5);color:white;font-weight:bold;font-size:0.8em;border: 1px solid rgba(7, 59, 79, 0.5);border-radius: 5px;">&nbsp;Eccentric&nbsp;</span>
                    </div>
                    <div style="margin-top: 5px;">
                      <p>A guy who just does nothing.</p>
                    </div>
                  </td>
                </tbody>
              </table>
            </a>
          </div>
        </div>
      </div>
      <br>

    </div>
  </section>

</body>

</html>